支持向量机（SVM）是个非常强大并且有多种goon功能的机器学习模型

能够做线性或者非线性的分类，回归，甚至异常值检测。

SVM特别适合应用于复杂但中小规模数据集的分类问题

分开两种类别，还尽可能远离最近点

街道边缘的样本点确定判定边界，这些样本点为支持向量

要注意标准化，该模型对特征缩放敏感

硬间隔分类：线性可分、对异常点敏感

**软间隔分类：找到平衡，街道尽可能大，间隔违规少**

** 用C超参数（惩罚系数）来控制平衡 **

较小的C更宽的街道，更多间隔违规

较小的C对噪声点惩罚力度小

** SVM过拟合，减小C，使街道变宽 **

核函数，无法线性分隔的点映射到高维空间进行分隔

线性核函数：简单高效、对线性不可分无解

多项式核函数：可拟合出复杂的分隔超平面，可选参数太多，阶数高后计算困难，不稳定

高斯核函数：融合了上面两种核函数。计算速度比较慢，容易过拟合

映射到无线的空间

## 数据量大的问题，选择复杂的模型
## 数据量小的问题，要选择简单模型

### 解决过拟合做好的方法是扩充数据集

特征远大于数据集，逻辑回归或线性核函数

数据集是特征的10倍，高斯核函数

数据集是特征的50倍以上，多项式核函数，高斯核函数

** SVC用来分类，SVR用来回归**

Kernel指定核函数

Linear线性核函数 ：C 惩罚系数
Poly多项式：C 惩罚系数  degree指定阶数
Rbf高斯核函数 ：C惩罚系数，gamm值

## 德国信用卡欺诈数据集

In [3]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline

In [5]:
data = pd.read_csv('credit-a.csv',header=None)

In [6]:
data.head()

   0      1      2   3   4   5   6     7   8   9   10  11  12   13     14  15
0   0  30.83  0.000   0   0   9   0  1.25   0   0   1   1   0  202    0.0  -1
1   1  58.67  4.460   0   0   8   1  3.04   0   0   6   1   0   43  560.0  -1
2   1  24.50  0.500   0   0   8   1  1.50   0   1   0   1   0  280  824.0  -1
3   0  27.83  1.540   0   0   9   0  3.75   0   0   5   0   0  100    3.0  -1
4   0  20.17  5.625   0   0   9   0  1.71   0   1   0   1   2  120    0.0  -1

In [7]:
data.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
648,0,21.08,10.085,1,1,11,1,1.25,1,1,0,1,0,260,0.0,1
649,1,22.67,0.750,0,0,0,0,2.00,1,0,2,0,0,200,394.0,1
650,1,25.25,13.500,1,1,13,7,2.00,1,0,1,0,0,200,1.0,1
651,0,17.92,0.205,0,0,12,0,0.04,1,1,0,1,0,280,750.0,1
652,0,35.00,3.375,0,0,0,1,8.29,1,1,0,0,0,0,0.0,1

In [8]:
from sklearn.model_selection import train_test_split

In [11]:
data.columns[:-1]

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='int64')

In [12]:
x=data[data.columns[:-1]]
y=data[15].replace(-1,0)

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y)

## 预处理——标准化

In [15]:
from sklearn import preprocessing

训练标准化的scaler

In [18]:
scaler = preprocessing.StandardScaler().fit(x_train)

统一标准化

In [19]:
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [20]:
from sklearn.svm import SVC#SVC用来分类

In [27]:
model = SVC(kernel='poly',degree=3,C=5)#定义3阶多项式核函数

In [28]:
model.fit(x_train,y_train)#训练

SVC(C=5, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='poly',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [29]:
model.score(x_test,y_test)

0.62195121951219512

## 高斯核函数

In [35]:
model2=SVC(kernel='rbf',gamma=0.5,C=5)#gamma参数?

In [36]:
model2.fit(x_train,y_train)

SVC(C=5, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.5, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [37]:
model2.score(x_test,y_test)

0.49390243902439024

中型数据用高斯和多项式核函数

参数选择用交叉验证