## 数据的读取

In [30]:
import numpy as np 
import pandas as pd

In [31]:
data=pd.read_csv('C:\\Users\\chen jia ni\\Desktop\\wangyipy\\shujuji\\bike.csv')

C:\Users\chen jia ni\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,2,3,4,5,6,7,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
data.head()

,MemberType,TripDurationSec,BikeID,StartDay,StartDateTime,StartDate,StartTime,StartStationName,StartStationID,EndDay,EndDateTime,EndDate,EndTime,EndStationName,EndStationID
0,Subscriber,235.0,C00198,Tuesday,11/27/2012 05:17:00 PM,11/27/2012,17:17,Market St & ML King Blvd,1325.0,Tuesday,11/27/2012 05:21:00 PM,11/27/2012,17:21,Market St & Cowart St,1311.0
1,Subscriber,101.0,C00156,Tuesday,12/11/2012 04:10:00 PM,12/11/2012,16:10,Market St & ML King Blvd,1325.0,Tuesday,12/11/2012 04:12:00 PM,12/11/2012,16:12,Market St & W 12th St,1309.0
2,Subscriber,478.0,C00092,Wednesday,11/21/2012 04:17:00 PM,11/21/2012,16:17,100 Walnut St,1319.0,Wednesday,11/21/2012 04:25:00 PM,11/21/2012,16:25,200 River St Outdoor Chattanooga,1299.0
3,Customer,2399.0,C00061,Friday,11/23/2012 12:39:00 AM,11/23/2012,00:39,215 Broad St,1303.0,Friday,11/23/2012 01:19:00 AM,11/23/2012,01:19,215 Broad St,1303.0
4,Customer,3412.0,C00030,Saturday,12/08/2012 07:49:00 PM,12/08/2012,19:49,High St & E 2nd St,1321.0,Saturday,12/08/2012 08:46:00 PM,12/08/2012,20:46,High St & E 2nd St,1321.0

In [33]:
data=pd.read_csv('C:/Users/chen jia ni/Desktop/wangyipy/shujuji/bike.csv',sep=',')#以逗号为分隔符

C:\Users\chen jia ni\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,2,3,4,5,6,7,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [34]:
data.head()

,MemberType,TripDurationSec,BikeID,StartDay,StartDateTime,StartDate,StartTime,StartStationName,StartStationID,EndDay,EndDateTime,EndDate,EndTime,EndStationName,EndStationID
0,Subscriber,235.0,C00198,Tuesday,11/27/2012 05:17:00 PM,11/27/2012,17:17,Market St & ML King Blvd,1325.0,Tuesday,11/27/2012 05:21:00 PM,11/27/2012,17:21,Market St & Cowart St,1311.0
1,Subscriber,101.0,C00156,Tuesday,12/11/2012 04:10:00 PM,12/11/2012,16:10,Market St & ML King Blvd,1325.0,Tuesday,12/11/2012 04:12:00 PM,12/11/2012,16:12,Market St & W 12th St,1309.0
2,Subscriber,478.0,C00092,Wednesday,11/21/2012 04:17:00 PM,11/21/2012,16:17,100 Walnut St,1319.0,Wednesday,11/21/2012 04:25:00 PM,11/21/2012,16:25,200 River St Outdoor Chattanooga,1299.0
3,Customer,2399.0,C00061,Friday,11/23/2012 12:39:00 AM,11/23/2012,00:39,215 Broad St,1303.0,Friday,11/23/2012 01:19:00 AM,11/23/2012,01:19,215 Broad St,1303.0
4,Customer,3412.0,C00030,Saturday,12/08/2012 07:49:00 PM,12/08/2012,19:49,High St & E 2nd St,1321.0,Saturday,12/08/2012 08:46:00 PM,12/08/2012,20:46,High St & E 2nd St,1321.0

In [35]:
data=pd.read_csv('C:/Users/chen jia ni/Desktop/wangyipy/shujuji/bike.csv',header=None)#第一行不被识别为coulumn

C:\Users\chen jia ni\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [36]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,MemberType,TripDurationSec,BikeID,StartDay,StartDateTime,StartDate,StartTime,StartStationName,StartStationID,EndDay,EndDateTime,EndDate,EndTime,EndStationName,EndStationID
1,Subscriber,235,C00198,Tuesday,11/27/2012 05:17:00 PM,11/27/2012,17:17,Market St & ML King Blvd,1325,Tuesday,11/27/2012 05:21:00 PM,11/27/2012,17:21,Market St & Cowart St,1311
2,Subscriber,101,C00156,Tuesday,12/11/2012 04:10:00 PM,12/11/2012,16:10,Market St & ML King Blvd,1325,Tuesday,12/11/2012 04:12:00 PM,12/11/2012,16:12,Market St & W 12th St,1309
3,Subscriber,478,C00092,Wednesday,11/21/2012 04:17:00 PM,11/21/2012,16:17,100 Walnut St,1319,Wednesday,11/21/2012 04:25:00 PM,11/21/2012,16:25,200 River St Outdoor Chattanooga,1299
4,Customer,2399,C00061,Friday,11/23/2012 12:39:00 AM,11/23/2012,00:39,215 Broad St,1303,Friday,11/23/2012 01:19:00 AM,11/23/2012,01:19,215 Broad St,1303

In [37]:
data=pd.read_csv('C:/Users/chen jia ni/Desktop/wangyipy/shujuji/bike.csv',header=None,names=['one','two','three'])#names给列命名

C:\Users\chen jia ni\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
data.head()

                                                                                                                                                                                 one  \
MemberType TripDurationSec BikeID StartDay  StartDateTime          StartDate  StartTime StartStationName         StartStationID EndDay    EndDateTime            EndDate     EndTime
Subscriber 235             C00198 Tuesday   11/27/2012 05:17:00 PM 11/27/2012 17:17     Market St & ML King Blvd 1325           Tuesday   11/27/2012 05:21:00 PM 11/27/2012    17:21
           101             C00156 Tuesday   12/11/2012 04:10:00 PM 12/11/2012 16:10     Market St & ML King Blvd 1325           Tuesday   12/11/2012 04:12:00 PM 12/11/2012    16:12
           478             C00092 Wednesday 11/21/2012 04:17:00 PM 11/21/2012 16:17     100 Walnut St            1319           Wednesday 11/21/2012 04:25:00 PM 11/21/2012    16:25
Customer   2399            C00061 Friday    11/23/2012 12:39:00 AM 11/23/2012 00:39     215 Broad St             1303           Friday    11/23/2012 01:19:00 AM 11/23/2012    01:19

                                                                                                                                                                                                          two  \
MemberType TripDurationSec BikeID StartDay  StartDateTime          StartDate  StartTime StartStationName         StartStationID EndDay    EndDateTime            EndDate                       EndStationName
Subscriber 235             C00198 Tuesday   11/27/2012 05:17:00 PM 11/27/2012 17:17     Market St & ML King Blvd 1325           Tuesday   11/27/2012 05:21:00 PM 11/27/2012             Market St & Cowart St
           101             C00156 Tuesday   12/11/2012 04:10:00 PM 12/11/2012 16:10     Market St & ML King Blvd 1325           Tuesday   12/11/2012 04:12:00 PM 12/11/2012             Market St & W 12th St
           478             C00092 Wednesday 11/21/2012 04:17:00 PM 11/21/2012 16:17     100 Walnut St            1319           Wednesday 11/21/2012 04:25:00 PM 11/21/2012  200 River St Outdoor Chattanooga
Customer   2399            C00061 Friday    11/23/2012 12:39:00 AM 11/23/2012 00:39     215 Broad St             1303           Friday    11/23/2012 01:19:00 AM 11/23/2012                      215 Broad St

                                                                                                                                                                                    three
MemberType TripDurationSec BikeID StartDay  StartDateTime          StartDate  StartTime StartStationName         StartStationID EndDay    EndDateTime            EndDate     EndStationID
Subscriber 235             C00198 Tuesday   11/27/2012 05:17:00 PM 11/27/2012 17:17     Market St & ML King Blvd 1325           Tuesday   11/27/2012 05:21:00 PM 11/27/2012          1311
           101             C00156 Tuesday   12/11/2012 04:10:00 PM 12/11/2012 16:10     Market St & ML King Blvd 1325           Tuesday   12/11/2012 04:12:00 PM 12/11/2012          1309
           478             C00092 Wednesday 11/21/2012 04:17:00 PM 11/21/2012 16:17     100 Walnut St            1319           Wednesday 11/21/2012 04:25:00 PM 11/21/2012          1299
Customer   2399            C00061 Friday    11/23/2012 12:39:00 AM 11/23/2012 00:39     215 Broad St             1303           Friday    11/23/2012 01:19:00 AM 11/23/2012          1303

In [42]:
data=pd.read_csv('C:\\Users\\chen jia ni\\Desktop\\wangyipy\\shujuji\\bike.csv',index_col='BikeID')#BikeID列作为索引

C:\Users\chen jia ni\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,2,3,4,5,6,7,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [43]:
data.head()

,MemberType,TripDurationSec,StartDay,StartDateTime,StartDate,StartTime,StartStationName,StartStationID,EndDay,EndDateTime,EndDate,EndTime,EndStationName,EndStationID
BikeID,,,,,,,,,,,,,,
C00198,Subscriber,235.0,Tuesday,11/27/2012 05:17:00 PM,11/27/2012,17:17,Market St & ML King Blvd,1325.0,Tuesday,11/27/2012 05:21:00 PM,11/27/2012,17:21,Market St & Cowart St,1311.0
C00156,Subscriber,101.0,Tuesday,12/11/2012 04:10:00 PM,12/11/2012,16:10,Market St & ML King Blvd,1325.0,Tuesday,12/11/2012 04:12:00 PM,12/11/2012,16:12,Market St & W 12th St,1309.0
C00092,Subscriber,478.0,Wednesday,11/21/2012 04:17:00 PM,11/21/2012,16:17,100 Walnut St,1319.0,Wednesday,11/21/2012 04:25:00 PM,11/21/2012,16:25,200 River St Outdoor Chattanooga,1299.0
C00061,Customer,2399.0,Friday,11/23/2012 12:39:00 AM,11/23/2012,00:39,215 Broad St,1303.0,Friday,11/23/2012 01:19:00 AM,11/23/2012,01:19,215 Broad St,1303.0
C00030,Customer,3412.0,Saturday,12/08/2012 07:49:00 PM,12/08/2012,19:49,High St & E 2nd St,1321.0,Saturday,12/08/2012 08:46:00 PM,12/08/2012,20:46,High St & E 2nd St,1321.0

In [59]:
data=pd.read_csv('C:\\Users\\chen jia ni\\Desktop\\wangyipy\\shujuji\\bike.csv',skiprows=1,header=None)#无表头，跳过前1行数据

C:\Users\chen jia ni\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,2,3,4,5,6,7,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [60]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Subscriber,235.0,C00198,Tuesday,11/27/2012 05:17:00 PM,11/27/2012,17:17,Market St & ML King Blvd,1325.0,Tuesday,11/27/2012 05:21:00 PM,11/27/2012,17:21,Market St & Cowart St,1311.0
1,Subscriber,101.0,C00156,Tuesday,12/11/2012 04:10:00 PM,12/11/2012,16:10,Market St & ML King Blvd,1325.0,Tuesday,12/11/2012 04:12:00 PM,12/11/2012,16:12,Market St & W 12th St,1309.0
2,Subscriber,478.0,C00092,Wednesday,11/21/2012 04:17:00 PM,11/21/2012,16:17,100 Walnut St,1319.0,Wednesday,11/21/2012 04:25:00 PM,11/21/2012,16:25,200 River St Outdoor Chattanooga,1299.0
3,Customer,2399.0,C00061,Friday,11/23/2012 12:39:00 AM,11/23/2012,00:39,215 Broad St,1303.0,Friday,11/23/2012 01:19:00 AM,11/23/2012,01:19,215 Broad St,1303.0
4,Customer,3412.0,C00030,Saturday,12/08/2012 07:49:00 PM,12/08/2012,19:49,High St & E 2nd St,1321.0,Saturday,12/08/2012 08:46:00 PM,12/08/2012,20:46,High St & E 2nd St,1321.0

In [64]:
data=pd.read_csv('C:\\Users\\chen jia ni\\Desktop\\wangyipy\\shujuji\\bike.csv',nrows=1)#nrows读取行数

In [65]:
data

,MemberType,TripDurationSec,BikeID,StartDay,StartDateTime,StartDate,StartTime,StartStationName,StartStationID,EndDay,EndDateTime,EndDate,EndTime,EndStationName,EndStationID
0,Subscriber,235,C00198,Tuesday,11/27/2012 05:17:00 PM,11/27/2012,17:17,Market St & ML King Blvd,1325,Tuesday,11/27/2012 05:21:00 PM,11/27/2012,17:21,Market St & Cowart St,1311

In [69]:
data.to_csv('C:\\Users\\chen jia ni\\Desktop\\wangyipy\\shujuji\\bike2.csv')#保存路径,会自动加一个序列

In [68]:
data.to_csv('C:\\Users\\chen jia ni\\Desktop\\wangyipy\\shujuji\\bike2.csv',index=False)#保存路径,不加序列index=False

## 读取excel

In [ ]:
data=pd.read_excel('shili2.xlsx')

In [ ]:
data=pd.read_excel('shili2.xlsx',sheetname='sheet2')#读取sheet2里面的内容，sheetname