将时间序列从一个频率转换到另一个频率：降采样、升采样、采样时间点变化。

In [3]:
import pandas as pd 
import numpy as np

In [4]:
rng=pd.date_range('10-1-2018',periods=60)

In [5]:
ts=pd.Series(np.random.randn(60),index=rng)

In [8]:
ts.head()

2018-10-01   -0.281385
2018-10-02    0.052779
2018-10-03    0.253008
2018-10-04    0.864441
2018-10-05    1.233292
Freq: D, dtype: float64

In [10]:
ts['2018-10-05']

1.233292437143352

In [11]:
ts.resample('M').mean()#降采样，求平均值，以一个月的最后一天计算

2018-10-31   -0.044419
2018-11-30    0.017508
Freq: M, dtype: float64

In [19]:
ts.resample('M',closed='right')

DatetimeIndexResampler [freq=<MonthEnd>, axis=0, closed=right, label=right, convention=start, base=0]

In [21]:
ts.resample('M',closed='left')

DatetimeIndexResampler [freq=<MonthEnd>, axis=0, closed=left, label=right, convention=start, base=0]

In [20]:
ts.resample('M')#默认右闭合

DatetimeIndexResampler [freq=<MonthEnd>, axis=0, closed=right, label=right, convention=start, base=0]

In [22]:
ts.resample('M').ohlc()#故事的开高低关

                open      high       low     close
2018-10-31 -0.281385  1.498315 -2.216095  1.131208
2018-11-30  1.120930  1.879857 -2.093627 -0.099167

In [24]:
ts.resample('M').ohlc()

                open      high       low     close
2018-10-31 -0.281385  1.498315 -2.216095  1.131208
2018-11-30  1.120930  1.879857 -2.093627 -0.099167

In [25]:
ts.groupby(lambda x :x.month).mean()#按月

10   -0.044419
11    0.017508
dtype: float64

In [27]:
ts.groupby(lambda x:x.month).mean()

10   -0.044419
11    0.017508
dtype: float64

In [26]:
ts.groupby(lambda x :x.week).mean()#按一年中农的第几周

40    0.571242
41   -0.060276
42   -0.520762
43   -0.237699
44    0.051477
45   -0.177108
46    0.285550
47   -0.187260
48    0.263655
dtype: float64

In [28]:
ts.groupby(lambda x:x.week).mean()

40    0.571242
41   -0.060276
42   -0.520762
43   -0.237699
44    0.051477
45   -0.177108
46    0.285550
47   -0.187260
48    0.263655
dtype: float64

In [30]:
ts.groupby(lambda x:x.week).mean()

40    0.571242
41   -0.060276
42   -0.520762
43   -0.237699
44    0.051477
45   -0.177108
46    0.285550
47   -0.187260
48    0.263655
dtype: float64

升采样和插值

In [ ]:
tf = pd.DataFrame(np.random.randn(2,4), index = pd.date_range('2017.10.1',periods = 2, freq = 'w'),columns = list('abcd'))

In [31]:
tf=pd.DataFrame(np.random.randn(2,4),index=pd.date_range('2017.10.1',periods=2,freq='w'),columns=list('abcd'))

In [33]:
tf.resample('D').asfreq()#默认情况填写Nan

                   a         b         c         d
2017-10-01 -0.406784 -2.660355  0.907206 -1.154772
2017-10-02       NaN       NaN       NaN       NaN
2017-10-03       NaN       NaN       NaN       NaN
2017-10-04       NaN       NaN       NaN       NaN
2017-10-05       NaN       NaN       NaN       NaN
2017-10-06       NaN       NaN       NaN       NaN
2017-10-07       NaN       NaN       NaN       NaN
2017-10-08  1.126686  0.895575  0.224828 -0.185927

In [34]:
tf.asfreq('D')#以上的另一种形式，推荐上面这种

                   a         b         c         d
2017-10-01 -0.406784 -2.660355  0.907206 -1.154772
2017-10-02       NaN       NaN       NaN       NaN
2017-10-03       NaN       NaN       NaN       NaN
2017-10-04       NaN       NaN       NaN       NaN
2017-10-05       NaN       NaN       NaN       NaN
2017-10-06       NaN       NaN       NaN       NaN
2017-10-07       NaN       NaN       NaN       NaN
2017-10-08  1.126686  0.895575  0.224828 -0.185927

In [35]:
tf.resample('D').pad()#使用前面的值填充

                   a         b         c         d
2017-10-01 -0.406784 -2.660355  0.907206 -1.154772
2017-10-02 -0.406784 -2.660355  0.907206 -1.154772
2017-10-03 -0.406784 -2.660355  0.907206 -1.154772
2017-10-04 -0.406784 -2.660355  0.907206 -1.154772
2017-10-05 -0.406784 -2.660355  0.907206 -1.154772
2017-10-06 -0.406784 -2.660355  0.907206 -1.154772
2017-10-07 -0.406784 -2.660355  0.907206 -1.154772
2017-10-08  1.126686  0.895575  0.224828 -0.185927

In [36]:
tf.resample('D').ffill()#用前面的值进行填充

                   a         b         c         d
2017-10-01 -0.406784 -2.660355  0.907206 -1.154772
2017-10-02 -0.406784 -2.660355  0.907206 -1.154772
2017-10-03 -0.406784 -2.660355  0.907206 -1.154772
2017-10-04 -0.406784 -2.660355  0.907206 -1.154772
2017-10-05 -0.406784 -2.660355  0.907206 -1.154772
2017-10-06 -0.406784 -2.660355  0.907206 -1.154772
2017-10-07 -0.406784 -2.660355  0.907206 -1.154772
2017-10-08  1.126686  0.895575  0.224828 -0.185927

In [37]:
tf.resample('D').bfill()#用后面的值进行填充

                   a         b         c         d
2017-10-01 -0.406784 -2.660355  0.907206 -1.154772
2017-10-02  1.126686  0.895575  0.224828 -0.185927
2017-10-03  1.126686  0.895575  0.224828 -0.185927
2017-10-04  1.126686  0.895575  0.224828 -0.185927
2017-10-05  1.126686  0.895575  0.224828 -0.185927
2017-10-06  1.126686  0.895575  0.224828 -0.185927
2017-10-07  1.126686  0.895575  0.224828 -0.185927
2017-10-08  1.126686  0.895575  0.224828 -0.185927

In [38]:
tf.resample('D').asfreq()

                   a         b         c         d
2017-10-01 -0.406784 -2.660355  0.907206 -1.154772
2017-10-02       NaN       NaN       NaN       NaN
2017-10-03       NaN       NaN       NaN       NaN
2017-10-04       NaN       NaN       NaN       NaN
2017-10-05       NaN       NaN       NaN       NaN
2017-10-06       NaN       NaN       NaN       NaN
2017-10-07       NaN       NaN       NaN       NaN
2017-10-08  1.126686  0.895575  0.224828 -0.185927

In [39]:
tf.resample('D').pad()

                   a         b         c         d
2017-10-01 -0.406784 -2.660355  0.907206 -1.154772
2017-10-02 -0.406784 -2.660355  0.907206 -1.154772
2017-10-03 -0.406784 -2.660355  0.907206 -1.154772
2017-10-04 -0.406784 -2.660355  0.907206 -1.154772
2017-10-05 -0.406784 -2.660355  0.907206 -1.154772
2017-10-06 -0.406784 -2.660355  0.907206 -1.154772
2017-10-07 -0.406784 -2.660355  0.907206 -1.154772
2017-10-08  1.126686  0.895575  0.224828 -0.185927

In [40]:
tf.resample('D').bfill()

                   a         b         c         d
2017-10-01 -0.406784 -2.660355  0.907206 -1.154772
2017-10-02  1.126686  0.895575  0.224828 -0.185927
2017-10-03  1.126686  0.895575  0.224828 -0.185927
2017-10-04  1.126686  0.895575  0.224828 -0.185927
2017-10-05  1.126686  0.895575  0.224828 -0.185927
2017-10-06  1.126686  0.895575  0.224828 -0.185927
2017-10-07  1.126686  0.895575  0.224828 -0.185927
2017-10-08  1.126686  0.895575  0.224828 -0.185927

## 读取为时间序列

In [45]:
data=pd.read_csv('C:\\Users\\chen jia ni\\Desktop\\wangyipy\\shujuji\\air1908.csv',index_col='Date',parse_dates=True)#注意index_col

In [47]:
data.head()

,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
Date,,,,,,,,,,,,
1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1912-07-12,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
1913-08-06,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
1913-09-09,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
1913-10-17,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [48]:
data.Fatalities.resample('A').sum()#‘A’按年计

Date
1908-12-31       1.0
1909-12-31       NaN
1910-12-31       NaN
1911-12-31       NaN
1912-12-31       5.0
1913-12-31      45.0
1914-12-31       NaN
1915-12-31      40.0
1916-12-31     108.0
1917-12-31     124.0
1918-12-31      65.0
1919-12-31       5.0
1920-12-31      24.0
1921-12-31      68.0
1922-12-31      80.0
1923-12-31      77.0
1924-12-31      18.0
1925-12-31      39.0
1926-12-31      30.0
1927-12-31      54.0
1928-12-31     124.0
1929-12-31     119.0
1930-12-31     138.0
1931-12-31      94.0
1932-12-31      75.0
1933-12-31     192.0
1934-12-31     126.0
1935-12-31     226.0
1936-12-31     227.0
1937-12-31     203.0
               ...
1980-12-31    1827.0
1981-12-31    1230.0
1982-12-31    1787.0
1983-12-31    1611.0
1984-12-31    1228.0
1985-12-31    2670.0
1986-12-31    1471.0
1987-12-31    1713.0
1988-12-31    2034.0
1989-12-31    2293.0
1990-12-31    1312.0
1991-12-31    1839.0
1992-12-31    2122.0
1993-12-31    1568.0
1994-12-31    1876.0
1995-12-31    1593.0
1996-12-31    2386.0
1997-12-31    1673.0
1998-12-31    1544.0
1999-12-31     970.0
2000-12-31    1429.0
2001-12-31    1398.0
2002-12-31    1437.0
2003-12-31    1276.0
2004-12-31     728.0
2005-12-31    1306.0
2006-12-31    1136.0
2007-12-31     931.0
2008-12-31     820.0
2009-12-31     581.0
Freq: A-DEC, Name: Fatalities, Length: 102, dtype: float64